<!DOCTYPE>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    </head>
    <body>
      <div class="feedback-card">
      <div class="feedback-header">
        The good ol' way to shorten any url:
      </div>
      <form class="feedback-body" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.url(class="feedback-body__url", placeholder="Paste the url here" )}}
        {% if false %}{{ form.recaptcha }} {% endif %}
        {% for error in form.url.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <button class="feedback-body__submit">SHORTEN</button>
      </form>
    </div>

      {% if url %}
      <div class="link-result">
        Your url is: <a href="{{ url }}" noopener noreferrer>{{ url }}</a>
      </div>
      {% endif %}

    </body>
</html>
