* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #a2a2a2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

input, button, textarea {
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-image: none;
  background-color: #dadad3;
  box-shadow: none;
  padding: 5px;
}
input:focus, button:focus, textarea:focus {
  outline: none;
}

textarea {
  min-height: 50px;
  resize: vertical;
}

button {
  cursor: pointer;
  font-weight: 500;
}

.feedback-card {
  border: 1px solid black;
  max-width: 980px;
  min-width: 600px;
  min-height: 100px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
}
.feedback-header {
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid black;
}
.feedback-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.feedback-body__message {
  margin-top: 10px;
}
.feedback-body button {
  margin-top: 10px;
  align-self: flex-end;
}

.link-result {
  padding: 0.9em;
  border: 1px solid black;
  min-width: 400px;
  background-color: #fff;
  margin: 2em auto 0 auto;
  box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
}

.page-wrap {
  position: relative;
  overflow: hidden;
}
.page-wrap .video-wrap,
.page-wrap .sidebar {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ie-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.1s;
  -moz-transition: width 0.1s;
  -ie-transition: width 0.1s;
  -o-transition: width 0.1s;
  transition: width 0.1s;
  height: 100%;
}
.page-wrap .video-wrap {
  float: left;
  width: 75%;
  background: #000;
}
.page-wrap .video-wrap.expanded {
  width: 100%;
}
.page-wrap .video-wrap .close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 25px;
  right: 25px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.page-wrap .video-wrap .close:before {
  content: '\00D7';
  padding-left: 4px;
  font: 30px/26px Arial;
}
.page-wrap .sidebar {
  float: right;
  width: 0%;
  background: #373737;
}
.page-wrap .sidebar.expanded {
  width: 25%;
}
.page-wrap .sidebar .sidebar-toggle {
  position: absolute;
  width: 30px;
  height: 25px;
  top: 44%;
  left: -20px;
  background: #373737;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
}
.page-wrap .sidebar .sidebar-toggle:before {
  content: '|||';
  font: bold 18px/22px Arial;
  padding: 2px 0 0 4px;
  color: #fff;
}
