<!DOCTYPE>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    </head>
    <body>
      <div class="feedback-card">
      <div class="feedback-header">
        The good ol' way to shorten any url:
      </div>
      <form class="feedback-body" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <input type="url" class="feedback-body__url" placeholder="Paste the url here" />
        {{ form.url(class="feedback-body__url", placeholder="Paste the url here" )}}
        {% for error in form.url.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <button class="feedback-body__submit">SHORTEN</button>
      </form>

      <div class="link-">
        {% if url %}
        <a href="" noopener noreferrer>{{ url }}</a>
        {% endif %}
      </div>

      </div>
    </body>
</html>
